<!DOCTYPE html>
<html>
    <head>
        <title>MadhuMeh Mukt</title>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <img class="logo" alt="logo" src="resources/images/LogoTransparent.png">
                    <ul class="main-nav">
                        <li><a href="#about">About</a></li>
                        <li><a href="#section-gallery">Life Style</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul> 
                </div>

            </nav>
            <div class="hero-text-box">
                <h1>Are you waiting for <br>
                    an EMERGENCY? Register NOW!</h1>
                    <a class="btn btn-full" href="/register">Register</a>
                    <a class="btn btn-ghost" href="/login">Login</a> 
            </div>
        </header>
        <section>
            <div class="outer-grid">
                <div class="inner-grid">
                <img src="resources/images/pic1.jpg"/>
                <img src="resources/images/pic2.jpg"/>
                </div>
                <div class="inner-grid">
                    <img src="resources/images/pic3.jpg"/>
                    <img src="resources/images/pic4.jpg"/>
                </div>
                <div class="inner-grid">
                    <img src="resources/images/pic5.jpg"/>
                    <img src="resources/images/pic6.jpg"/>
                </div>
                <div class="inner-grid">
                    <img src="resources/images/pic7.jpg"/>
                    <img src="resources/images/pic8.jpg"/>
                </div>
                </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <section class="about-section" id="about">
            <div >
                <h2>About</h2>
                <p>Welcome to MadhuMeh Mukt, a cutting-edge diabetes prediction model developed by our team of experts at VIT Bhopal University. We understand the impact diabetes can have on one's health and well-being, and we strive to empower individuals with the tools to predict their risk of developing diabetes.</p><br>
                <p>MadhuMeh Mukt utilizes advanced machine learning algorithms and predictive analytics to assess a person's risk of developing diabetes based on various factors such as age, gender, family history, lifestyle, and medical history. Our model has been trained on vast amounts of data, including medical records and demographic information, to provide accurate and personalized predictions.</p><br>
                <p>Our team of experts has worked tirelessly to ensure that MadhuMeh Mukt is user-friendly, reliable, and accessible to everyone. Our goal is to help individuals make informed decisions about their health and lifestyle choices to prevent or manage diabetes.</p><br>
                <p>We are committed to continuously improving MadhuMeh Mukt by incorporating the latest advancements in technology and medical research. We also value your feedback and suggestions to make our model even more effective and helpful. Thank you for choosing MadhuMeh Mukt to take control of your health and prevent diabetes.</p>
            </div>
        </section>
        <footer>
          <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Life Style</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <div class="social-links">
                        <li><a href="https://www.linkedin.com/in/duttasagar" target="_blank"><ion-icon class="lkd" name="logo-linkedin"></ion-icon></li>
                        <li><a href="https://github.com/SagarDuttaSays" target="_blank"><ion-icon class="git" name="logo-github"></ion-icon></a></li>
                        <li><a href="mailto:sagar.dutta2020@vitbhopal.ac.in"><ion-icon class="google" name="mail-outline"></ion-icon></ion-icon></a></li>
                        <li><a href="https://www.instagram.com/theeliopsalms?igshid=ZDdkNTZiNTM=" target="_blank"><ion-icon class="ig" name="logo-instagram"></ion-icon></a></li>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2023 by MadhuMeh Mukt. All rights are reserved.</p>
            </div>
        </footer>
    </body>
</html>